<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PersonalDetails</display-name>
    <servlet-name>PersonalDetails</servlet-name>
    <servlet-class>PersonalDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalDetails</servlet-name>
    <url-pattern>/PersonalDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Address</display-name>
    <servlet-name>Address</servlet-name>
    <servlet-class>Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Address</servlet-name>
    <url-pattern>/Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdditionalDetails</display-name>
    <servlet-name>AdditionalDetails</servlet-name>
    <servlet-class>AdditionalDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionalDetails</servlet-name>
    <url-pattern>/AdditionalDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerData</display-name>
    <servlet-name>CustomerData</servlet-name>
    <servlet-class>CustomerData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerData</servlet-name>
    <url-pattern>/CustomerData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomer4</display-name>
    <servlet-name>AddCustomer4</servlet-name>
    <servlet-class>AddCustomer4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer4</servlet-name>
    <url-pattern>/AddCustomer4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientTransferMoney</display-name>
    <servlet-name>ClientTransferMoney</servlet-name>
    <servlet-class>ClientTransferMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientTransferMoney</servlet-name>
    <url-pattern>/ClientTransferMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FD</display-name>
    <servlet-name>FD</servlet-name>
    <servlet-class>FD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FD</servlet-name>
    <url-pattern>/FD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RD</display-name>
    <servlet-name>RD</servlet-name>
    <servlet-class>RD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RD</servlet-name>
    <url-pattern>/RD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLogin</display-name>
    <servlet-name>ClientLogin</servlet-name>
    <servlet-class>ClientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLogin</servlet-name>
    <url-pattern>/ClientLogin</url-pattern>
  </servlet-mapping>
</web-app>